{% extends 'base.html' %}

{% block content %}
  <h1>
    Dish List
    <a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary">
      Add New Dish
    </a>
  </h1>

  <form method="get" class="mb-3">
    <input
      type="text"
      name="q"
      placeholder="Search by dish name..."
      value="{{ request.GET.q }}"
    >
    <button type="submit">Search</button>
  </form>

  {% if dish_list %}
      <ul>
        {% for dish in dish_list %}
        <li>
          <a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.name }}</a>
          {{ dish.price }}
        </li>
        {% endfor %}
      </ul>
  {% else %}
    <p>No dish yet.</p>
  {% endif %}
{% endblock %}