{% extends 'base.html' %}

{% block content %}
  <h1>
    DishType List
    <a href="{% url 'kitchen:dishtype-create' %}" class="btn btn-primary">
      Create
    </a>
  </h1>

  <form method="get" class="mb-3">
    <input
      type="text"
      name="q"
      placeholder="Search by dishtype name..."
      value="{{ request.GET.q }}"
    >
    <button type="submit">Search</button>
  </form>

  {% if dishtype_list %}
    <table class="table">
      {% for dishtype in dishtype_list %}
      <tr>
        <td>
          {{ dishtype.name }}
        </td>
        <td>
          <a href="{% url 'kitchen:dishtype-update' pk=dishtype.id %}">
            Update
          </a>
        <td>
          <a style="color: red"
             href="{% url 'kitchen:dishtype-delete' pk=dishtype.id %}">
            Delete
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No dishtype yet.</p>
  {% endif %}
{% endblock %}